
body {
    font-family: Helvetica;
    margin: 0;
  }
  #logo{
      width: 150px;
      height: 75px;
      padding-top: 0px;
      padding-left: 30px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li{
    font-family: 'Koulen', cursive;
    font-size: 18px;
    padding-right: 50px;
    display: inline-block;
    margin: 1.7em 1em 1em 1em;
  }
/** banner section **/
#slider {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 100000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
    
    float: left;
  }
  #slider ul li img{
    max-width: 100%;
    height: 650px;
  }
 #prev,  #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 85%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
   #prev {

    left: 10px;
  }
  #next {
    right: 10px;
  }
  
 #prev:hover,  #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }


  .banner_text {
    position: absolute; 
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.stewart span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 44px;
    line-height: 35px;
    color: #feed01;
    display: block;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 24px;
}

.stewart h1 {
    padding-left: 100px;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 106px;
    line-height: 90px;
    color: #fff;
}

.stewart p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
}

.about {
  background-color: #fff;
  padding-top: 80px;
}

.about .titlepage {
  text-align: left;
  padding-bottom: 0;
  max-width: 443px;
  width: 100%;
  float: left;
}

.about .titlepage h2 {
  font-size: 40px;
  margin-bottom: 25px;
  padding-left: 40px;
}

.about .titlepage p {
  width: 620px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #090808;
  padding-left: 40px;

}

.about_img {
  overflow: hidden;
}

.about_img figure {
  margin: 0;
}

.about_img figure img {
  padding-bottom: 80px;
  padding-right: 50px;
  max-width: 480px;
  max-height: 480px;
  transition: all .5s;
  float: right;
}

.about_img figure img:hover {
  transform: scale(1.15);
}
.trainers-titlepage h2{
  font-size: 32px;
}
.trainers-titlepage p{
  padding-bottom: 25px;
  font-size: 25px;
}
.trainers, .trainers-titlepage {
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.trainer-container{
  margin-left: 40px;
  max-width: 25%;
  display: inline-block;
  vertical-align: top;
}
.trainer_img img{
  height: 15em;
  width: 100%;
}
.trainers {
  background: url(images/tra_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 15px 0 30px 0;
  margin-top: 60px;
  height: 530px;
}
.trainer-container:hover {
  background-color: #fff;
  transition: ease-in all 0.5s;
  color: #090808;
  transform: scale(1.1);
}
/** gallery  section **/

.gallery {
  background-color: #00274a;
  margin-top: 80px;
  padding: 10px 0 30px 0;
}

.gallery .titlepage h2 {
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.gallery .titlepage h2::before {
  background-color: #000;
  top: 65px;
}
.gallery  {
  overflow: hidden;
  margin-bottom: 30px;
  transition: ease-in all 0.4s;
}

.gallery .gallery_img:hover {
  transform: scale(1.07);
  transition: ease-in all 0.3s;
}

.gallery .gallery_images img {
  padding-left: 55px;
  width: 27%;
  transition: ease-in all 0.3s;
  margin-bottom: 30px;
  display: inline-block;  
}

