*{
	margin: 0;
	padding: 0;
}
#wrapper {
    width: 1020px;
    margin: 0 auto;
}
#main-header{
        padding-left: 50px;
        padding-bottom: 35px;
}
#head-wrap{
	padding: 15px;
}
#main-nav ul li{
	display: inline-block;
	margin-left: 30px;
	line-height: 30px;
}
#main-nav ul li a {
	color: grey;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}
#site-search{
 margin-left: 448px;
 border-width: 1px;
 background: #dbdddc;
}
#left-hr{
	margin-top: 50px;
	margin-bottom: 10px;
}
aside ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #605EA7;
}
section{
	margin-left: 35px;
    float: left;
    width: 50%;
}
section .blue {
	color: #605EA7;
	padding-top: 20px;
	padding-bottom: 20px;
}
.caption{
	word-spacing: 2px;
	font-size: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #777777;
}
#main-news-hr{
	width: 100%;
}
.right-hr{
	width: 80%;
}
#left {
    float: left;
    width: 20%;
}
#right {
    float: right;
    width: 20%;
}
aside .grey {
    color: #AFAFAF;
}
.submit{
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: top;
}